h1 {
    text-align: center;
}
p {
    text-align:center;
}










/* #box {
    background-color: rgb(211, 252, 8);
    color: rgb(15, 6, 40);
    }
h1, h2, h3{
    color: #e32914;
}
button{
    background-color: green;
} */